<div class="col-sm-6 col-md-4">    
    <div class="thumbnail">
    <img src="https://i.pinimg.com/236x/12/5d/a6/125da6300cc7045e5210e5490b5b0f85--minimalist-book-book-cover-design.jpg" alt="Portada">
    <div class="caption">
        <h3>{{ book.titulo }}</h3>
        <h4>{{ book.autor }}</h4>
        <p>{{ book.numero_ejemplares }} ejemplares</p>
        <p>
            <button class="btn btn-primary">Ver detalles</button> 
            <button class="btn btn-default">Editar</button>
        </p>
    </div>
    </div>
</div>