<h2>Editar el campo:</h2>

<label for="campo">Editar campo</label>
<select id="campo" name="campo" class="form-control"></select>
<form>
  <h3>Editar datos del campo</h3>
  <div class="form-group">
    <label for="id_marc">Código MARC</label>
    <input type="text" id="id_marc" name="id_marc" class="form-control">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre del campo</label>
    <input type="text" id="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea id="descripcion" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="subcampo">Editar subcampo</label>
    <select id="subcampo" name="subcampo" class="form-control"></select>  
    <h4>Editar datos del subcampo</h4>
      <app-subfield></app-subfield>
    <button type="submit" value="Ingresar" class='btn btn-primary'>Ingresar</button>
    <button type="reset" value="Limpiar" class='btn'>Limpiar</button>
  </div>
</form>