<h2>Editar el campo:</h2>

<div class="form-group">
  <label for="campo">Seleccionar campo a editar</label>
  <select id="campo"  class="form-control" [(ngModel)]="selectedMarc">
    <option *ngFor="let marc of availableMarc" [ngValue]="marc">
      {{ marc.nombre }}
    </option>
  </select>
</div>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <h3>Editar datos del campo</h3>
  <div class="form-group">
    <label for="id_marc">Código MARC</label>
    <input  type="text" 
            id="id_marc" 
            name="id_marc" 
            class="form-control" 
            [ngModel]="selectedMarc.id_marc" 
            required
            #idMarcCtrl="ngModel">
    <span class="help-block" *ngIf="idMarcCtrl.invalid && idMarcCtrl.touched">Campo obligatorio</span>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre del campo</label>
    <input  type="text" 
            id="nombre" 
            name="nombre" 
            class="form-control" 
            [ngModel]="selectedMarc.nombre" 
            required
            #nombreCtrl="ngModel">
    <span class="help-block" *ngIf="nombreCtrl.invalid && nombreCtrl.touched">Campo obligatorio</span>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea id="descripcion" name="descripcion" class="form-control" [ngModel]="selectedMarc.descripcion"></textarea>
  </div>
  <button type="submit" class='btn btn-primary' [disabled]="form.invalid">Guardar</button>
  <button type="reset" class='btn btn-default'>Limpiar</button>
  <button type="button" class='btn btn-danger'>Eliminar</button>
</form>