<h2>Editar el tipo de material:</h2>

<label for="tipo">Seleccionar tipo</label>
<select id="tipo" name="tipo" class="form-control"></select>
<form>
  <h3>Editar datos del tipo</h3>
  <div class="form-group">
    <label for="nombre">Nombre del tipo</label>
    <input type="text" id="nombre" name="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea id="descripcion" name="descripcion" class="form-control"></textarea>
  </div>
  <h4>Campos disponibles</h4>
  <div class="form-group">
    <app-material-type-field></app-material-type-field>
  </div>
  <button type="submit" value="Ingresar" class='btn btn-primary'>Ingresar</button>
  <button type="reset" value="Limpiar" class='btn'>Limpiar</button>
</form>
