<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="row-col-xs">
      <h1>Bienvenidos a {{title}}</h1>
      <ul class="nav nav-tabs">
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Explorar</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/field">Editar tipos</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/edit/new">Crear nuevo libro</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
