<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="row-col-xs">
      <h1>Bienvenidos a {{title}}</h1>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Explorar</a></li>
        <li role="presentation"><a href="#">Editar Tipos</a></li>
        <li role="presentation"><a href="#">Editar Campos</a></li>
      </ul>
      <app-material-type></app-material-type>
    </div>
  </div>
</div>
