<form (ngSubmit)="filter()" #form="ngForm">
    <br>
    <div class='form-group'>
        <input  type="text" 
                id="busqueda" 
                name="busqueda" 
                class="form-control" 
                placeholder="Ingresar para búsqueda"
                [(ngModel)]="busqueda">
        
        <label for="search_type">Filtrar por</label>
        <input type="radio" 
                id="search_type" 
                name="search_type" 
                value='' 
                [(ngModel)]="filtro">Todo
        <input type="radio" 
                id="search_type" 
                name="search_type" 
                value='titulo' 
                [(ngModel)]="filtro">Título
        <input type="radio" 
                id="search_type" 
                name="search_type" 
                value='autor' 
                [(ngModel)]="filtro">Autor
                
        <button type="submit" class='btn btn-primary derecha'>Buscar</button>
    </div>
</form> 

<div class="row">
    <app-material *ngFor="let book of books" [book]="book"></app-material>
</div>