<form>
    <br>
    <div class='form-group'>
        <input  type="text" 
                id="busqueda" 
                name="busqueda" 
                class="form-control" 
                placeholder="Buscar"
                [(ngModel)]="busqueda"
                (change)="filter()">
        
        <label for="search_type">Filtrar por</label>
        <input type="radio" 
                id="search_type" 
                name="search_type" 
                value='' 
                [(ngModel)]="filtro">Todo
        <input type="radio" 
                id="search_type" 
                name="search_type" 
                value='titulo' 
                [(ngModel)]="filtro">Título
        <input type="radio" 
                id="search_type" 
                name="search_type" 
                value='autor' 
                [(ngModel)]="filtro">Autor
    </div>
</form> 

<div class="row">
    <app-material *ngFor="let book of books" [book]="book"></app-material>
</div>